@import './base/reset';

html { font-size: 16px; }

h1 { font-size: 2rem; text-align: center; }

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	color: #000;
	line-height: 1.5;
}

img {
	max-width: 100%;
	width: 100%;
}

.carousel {
	max-width: 750px;
	margin: 30px auto;
	position: relative;
	height: 400px;

	.slide {
		overflow: hidden;
	}

	.caption {
		position: absolute;
		top: 25%;
		left: 15%;
		color: #fff;
		font-size: 2rem;
	}
}

@keyframes slide-next {
	from {
		left: 750px;
	}
	to {
		left: 0px;
	}
}

@keyframes slide-prev {
	from {
		right: 750px;
	}
	to {
		right: 0px;
	}
}


.carousel .slide.active {
	position: absolute;
	display: block !important;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;

	img {
		height: 100%;
		object-fit: cover;
		object-position: center 10%;
	}
}

.carousel .slide.active.animating { z-index: 2; }


// Code for testing purposes
.carousel .slide:nth-of-type(1) {
	background-color: red;
	display: none;
}

.carousel .slide:nth-of-type(2) {
	background-color: yellow;
	display: none;
}

.carousel .slide:nth-of-type(3) {
	background-color: blue;
	display: none;
}

.carousel .slide:nth-of-type(4) {
	background-color: green;
	display: none;
}

.carousel .slide:nth-of-type(5) {
	background-color: cyan;
	display: none;
}

button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	width: 75px;
	height: 50px;
}

button.prev {
	left: -76px;
}

button.next {
	right: -76px;
}